{% extends "layout.html" %}
{% block body %}

<form>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"></input>
</form>

{% if owner %}
{% if not editing %}
<div class="row">
  <div class="span12 alert alert-success preview">
    <p>
      This is how your badge will look to the public.
      <a href="{{ reverse('badge.edit', { badgeId: attributes.id }) }} ">Return to editing mode.</a>
    </p>
  </div>
</div>
{% endif %}
{% endif %}

<div class="row st">

  <!-- left column -->
  <div class="span8 column">

    <div class="badgeInfo">
      <header>
        <img class="badgeImg" src="{{ attributes.image_path }}"
          alt="Image for {{ attributes.body.badge.name }}" />
        <div class="description">
          <h1>{{ attributes.body.badge.name }}</h1>
          <p>{{ attributes.body.badge.description }}</p>
        </div>
      </header>
      <div class="details panel">
        <table>
          <thead><tr><th colspan="2" >Issuer Details</th></tr></thead>
          <tbody>
            <tr><td>Name</td><td>{{ attributes.body.badge.issuer.name }}</td></tr>
            <tr><td>URL</td><td><a href="#">{{ attributes.body.badge.issuer.origin }}</a></td></tr>
            {% if attributes.body.badge.issuer.org %}
              <tr><td>Organization</td><td>{{ attributes.body.badge.issuer.org }}</td></tr>
            {% endif %}
          </tbody>
        </table>
        <table>
          <thead><tr><th colspan="2" >Badge Details</th></tr></thead>
          <tbody>
            <tr><td>Criteria</td><td><a href="#">{{ attributes.body.badge.criteria }}</a></td></tr>
            {% if assertion.evidence %}
              <tr><td>Evidence</td><td><a href="#">{{ attributes.body.evidence }}</a></td></tr>
            {% endif %}
            {% if attributes.body.issued_on %}
              <tr><td>Issued on</td><td><a href="#">{{ attributes.body.issued_on }}</a></td></tr>
            {% endif %}
            {% if attributes.body.expires %}
              <tr><td>Expires on</td><td><a href="#">{{ attributes.body.expires }}</a></td></tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    {% if editing %}
    <div class="row st">

      <div class="span4 notesContainer">
        {% include "templates/notesview.html" %}
      </div>

      <div class="span4 et disownContainer">
        {% include "templates/disownview.html" %}
      </div>

    </div>
    {% endif %}

  </div>
  <!-- end left column -->

  <!-- right column -->
  {% if editing %}
  <div class="span4 column">

    <div class="privacyContainer">
      {% include "templates/privacyview.html" %}
    </div>

    <div class="groupContainer">
      {% include "templates/groupview.html" %}
    </div>

  </div> 
  {% endif %}
  <!-- end right column -->

</div>
{% endblock %}

{% block bodyscripts %}
<script src="/js/underscore.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/nunjucks-dev.js"></script>
<script>
  if(!nunjucks.env) {
    // If not precompiled, create an environment with an HTTP loader
    nunjucks.env = new nunjucks.Environment(new nunjucks.HttpLoader('/templates'));
  }
  var templates = nunjucks.env;
</script>
<script src="/js/backbone/models/badge.js"></script>
<script src="/js/backbone/models/group.js"></script>
<script src="/js/backbone/views/notes.js"></script>
<script src="/js/backbone/views/disown.js"></script>
<script src="/js/backbone/views/privacy.js"></script>
<script src="/js/backbone/views/groupview.js"></script>
<script>
  !!function setup () {

  var CSRF = $("input[name='_csrf']").val();
  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      if (settings.crossDomain)
        return;
      if (settings.type == "GET")
        return;
      xhr.setRequestHeader('X-CSRF-Token', CSRF)
    }
  })

  }(/*end setup*/)

  $(function(){
    var badge = new Badge({{ attributes|stringify }});
    var notes = new NotesView({
      model: badge,
      el: $('.notesContainer')[0]
    });
    var disown = new DisownView({
      model: badge,
      el: $('.disownContainer')[0],
      success: function(){ window.location = "{{ reverse('backpack.manage') }}"; },
      error: function(){ console.log("DO SOMETHING MOAR USEFUL!"); }
    });
    var privacy = new PrivacyView({
      model: badge,
      el: $('.privacyContainer')[0]
    });

    var allGroups = new GroupCollection({{ groups|stringify }});
    var groups = new GroupView({
      collection: allGroups,
      el: $('.groupContainer')[0],
      badgeId: badge.get('id')
    });
  });
</script>
{% endblock %}
