{% extends "layout.html" %}
{% block body %}

{% if owner %}
{% if not editing %}
<div class="row">
  <div class="span12 alert alert-success preview">
    <p>
      This is how your badge will look to the public.
      {{id}}
      <a href="{{ reverse('badge.edit', { badgeId: attributes.id }) }} ">Return to editing mode.</a>
    </p>
  </div>
</div>
{% endif %}
{% endif %}

<div class="row st">

  <!-- left column -->
  <div class="span8 column">

    <div class="badgeInfo">
      <header>
        <img class="badgeImg" src="{{ attributes.image_path }}"
          alt="Image for {{ attributes.body.badge.name }}" />
        <div class="description">
          <h1>{{ attributes.body.badge.name }}</h1>
          <p>{{ attributes.body.badge.description }}</p>
        </div>
      </header>
      <div class="details panel">
        <table>
          <thead><tr><th colspan="2" >Issuer Details</th></tr></thead>
          <tbody>
            <tr><td>Name</td><td>{{ attributes.body.badge.issuer.name }}</td></tr>
            <tr><td>URL</td><td><a href="#">{{ attributes.body.badge.issuer.origin }}</a></td></tr>
            {% if attributes.body.badge.issuer.org %}
              <tr><td>Organization</td><td>{{ attributes.body.badge.issuer.org }}</td></tr>
            {% endif %}
          </tbody>
        </table>
        <table>
          <thead><tr><th colspan="2" >Badge Details</th></tr></thead>
          <tbody>
            <tr><td>Criteria</td><td><a href="#">{{ attributes.body.badge.criteria }}</a></td></tr>
            {% if assertion.evidence %}
              <tr><td>Evidence</td><td><a href="#">{{ attributes.body.evidence }}</a></td></tr>
            {% endif %}
            {% if attributes.body.issued_on %}
              <tr><td>Issued on</td><td><a href="#">{{ attributes.body.issued_on }}</a></td></tr>
            {% endif %}
            {% if attributes.body.expires %}
              <tr><td>Expires on</td><td><a href="#">{{ attributes.body.expires }}</a></td></tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>

    {% if editing %}
    <div class="row st">

      <div class="span4 notesContainer">
        {% include "../static/views/badge-notes.html" %}
      </div>

      <div class="span4 et">
        <button class="btn">Disown This Badge</button>
        <a href="#">What is this?</a>
      </div>

    </div>
    {% endif %}

  </div>
  <!-- end left column -->

  <!-- right column -->
  {% if editing %}
  <div class="span4 column">
    Right.
  </div>
  {% endif %}
  <!-- end right column -->

</div>
<script src="/js/underscore.js"></script>
<script src="/js/backbone.js"></script>
<script src="/js/nunjucks-dev.js"></script>
<script>
  if(!nunjucks.env) {
    // If not precompiled, create an environment with an HTTP loader
    nunjucks.env = new nunjucks.Environment(new nunjucks.HttpLoader('/views'));
  }
  var templates = nunjucks.env;

  var Badge = Backbone.Model.extend({
    urlRoot: '/badge'
  });
  var NotesView = Backbone.View.extend(
    {
      initialize: function(){
        this.render();
      },

      render: function(){
        var content = templates.render(NotesView.template, { attributes: this.model.toJSON() });
        this.$el.html(content);
      }
    },
    {
      template: 'badge-notes.html'
    }
  );
  $(function(){
    var badge = new Badge({{ attributesString }});
    var notes = new NotesView({
      model: badge,
      el: $('.notesContainer')[0]
    });
  });
</script>
{% endblock %}
