<!DOCTYPE html>
<title>Himo</title>
<style>
  body {
    font-family: Helvetica, sans-serif;
    padding: 0px 10px;
  }
</style>

<div>
  <h3>Valid URLs</h3>
  Valid URLs take the form:
  <ul>
    <li><code>/path/to/view.html</code></li>
    <li><code>/path/to/view.html?setup=method1&amp;setup=method2</code></li>
  </ul>
  where <code>methodN</code> is the name of a method in <code>setup.js</code>,
  and <code>/path/to/view.html</code> is the path of a view file relative to 
  the main app view or test view directory.
</div>

<div class="setup">
  <h3>Setup methods</h3>
  <ul>
  {% for method in setups %}
    <li><strong>{{method.name}}</strong>: {{method.description}}</li>
  {% endfor %}
  </ul>
</div>

<div>
  <h3>Test views</h3>
  <ul>
  {% for view in testViews %}
    <li><a href="{{view}}">{{view}}</a></li>
  {% endfor %}
  </ul>
</div>

<div>
  <h3>App views</h3>
  <ul>
  {% for view in appViews %}
    <li><a href="{{view}}">{{view}}</a></li>
  {% endfor %}
  </ul>
</div>


